@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;500;600&family=Caveat+Brush&family=Caveat:wght@500;700&family=Kalam:wght@300;400;700&family=Rock+Salt&display=swap');

body {
	font-family: 'Kalam';
	font-weight: 400;
}	

body .bold {
	font-weight: 700; 
}

body .fina{
	font-weight: 300; 
}

.tituloSec {	
	font-family: 'Rock Salt';
	font-size: 1.2rem;
	padding-left: 0.5em;
}

.bgBlack {
	background-color: #0F0F0F;
}

.bgVioletClaro {
	background-color: #2C2743;
}

.bgVioletOscuro {
	background-color: #201B30;
}

.bgVioletOscuroEspecial{
	background-color: #1D172DBF;
}

.bgVioletOscuroGradient {
	background: linear-gradient(177deg, rgba(32,27,48,1) 0%, rgba(81,67,125,1) 42%, rgba(62,51,94,1) 43%, rgba(32,27,48,1) 79%, rgba(32,27,48,1) 100%);
}

.bgWhite {
	background-color: #FFFFFF;
}

.bgSalmon {
	background-color: #FF727A;
}

.bgRojoOscuro {
	background-color: #831B21;
}

.bgRojoOscuroAlpha {
	background-color: #831B21BF;
}
.bgGrisVideos {
	background-color: #272727;
}

.rojoOscuro {
	color: #831B21;
}

.rojoClaro {
	color: #E33D47;
}

.violetNeutro {
	color: #6E6292;
}

.violetClaro {
	color: #D8CBFF;
}

.violetEspecial {
	color: #6967C1;
}

.elSalmon {
	color: #FF7A7A;
}

.WhiteSalmon {
	color: #FCE9E9;
}

/*Header*/

#header {
	position: fixed;
	top: 0px;
	z-index: 100;
	height: 120px;
	width: 100%;
	box-sizing: border-box;
	padding: 0em 0.5em;
}

#header .logo {
	height: 50px;
	display: inline-block;
	box-sizing: border-box;
}

#header .logo img{
	height: 100%;
}

#header .logoCentral {
	display: flex;
	z-index: 200;
	max-height: 120px;
	max-width: 120px;
	box-sizing: border-box;
	margin-top: 5px;
	margin-right: 1em;
	overflow: hidden;
}

#header .logoCentral a{
	margin: -1px;
}

#header .border{
	border-color: #831B21 !important;
	border-width: 2px !important;
}

#header .logoCentral img{
	width: 100%;
	margin: 0;
	padding: 0;
	transition: all 500ms ease-in-out;
}

#header .logoCentral:hover img{
	transform: scale(1.1);
}

#header .botonMenu {
	font-size: 0.8rem;
	cursor: default;
	margin-right: 1em; 
	z-index: 200;
}

@media all and (min-width: 576px) {

	#header {
		padding: 0em 2em;
	}

	#header .logo {
		display: inline-block;
		height: 100px;
		margin-right: 2em;
	}

	#header .logoCentral {
		max-height: 130px;
		max-width: 130px;
		margin-top: 25px;
		margin-right: 5em;
	}

	#header .botonMenu {
		font-size: 1rem;
		margin-right: 1em; 
	}
}

@media all and (min-width: 992px) {
	#header {
		padding: 0em 2em;
	}

	#header .logo {
		display: inline-block;
		height: 120px;
		margin-right: 2em;
	}

	#header .logoCentral {
		margin-top: 0;
		max-height: 150px;
		max-width: 150px;
	}

	#header .botonMenu {
		display: inline-block;
		font-size: 1rem;
		margin-right: 1em; 
	}
}

/* Icono Hamburguesa */

.animated-icon1 {
	width: 30px;
	height: 20px;
	position: relative;
	margin: 0px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
	}

.animated-icon1 span {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

.animated-icon1 span {
	background: #E33D47;
}

.animated-icon1 span:nth-child(1) {
	top: 0px;
}

.animated-icon1 span:nth-child(2) {
	top: 10px;
}

.animated-icon1 span:nth-child(3) {
	top: 20px;
}

.animated-icon1.open span:nth-child(1) {
	top: 11px;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
	opacity: 0;
	left: -60px;
}

.animated-icon1.open span:nth-child(3) {
	top: 11px;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
}


/*Menu Nav*/
#menu {
	position: fixed;
	z-index: 50;
	height: 100%;
	width: 220px;
	top: 120px;
	right: 0;
	bottom: 0;
	display: grid;
	grid-template-rows: auto 10% auto;
	align-items: stretch;
	background-color: #201B30F2;
	transform: translate(220px);
	transition: all 500ms ease-in-out;
}

#menu.active {
	transform: translate(0px);
}

#menu .menuNav{
	box-sizing: border-box;
}

#menu .buttonNav {
	border-bottom: 2px solid #831B21;
	list-style-position: inside;
	list-style-type: none;
	padding: .1em 1em 0;
	box-sizing: border-box;
	width: auto;
}

#menu .buttonNav h4{
	font-size: 1.1rem;
	margin: 0;
	padding: 0;
}

#menu .buttonNav i{
	padding: 0;
	font-size: 1.5rem;
	line-height: 0;
}

#menu .menuNav ul li{
	font-size: 1rem;
	font-weight: 300;
	padding: .1em 1em 0;
	list-style-position: inside;
	list-style-type: none;
}

#menu .menuNav a{
	margin-bottom: 0;
	text-decoration: none;
	color: #E33D47;
}

#menu .redesNav {
	width: 100%;
}

#menu .redesNav ul li {
	list-style-position: inside;
	list-style-type: none;
}

#menu .redesNav a{
	color: #E33D47;
}

#menu .filtrosNav{
	background-color: #2C2743BF;
	border-top: 2px solid #533A9D;
	font-size: .9rem;
	font-weight: 700;
	padding: 0.5em 0.5em 0.5em 1em;
	box-sizing: border-box;
}

#menu .filtrosNav ul {
	padding: 0;
}

#menu .filtrosNav ul li{
	list-style-position: inside;
	list-style-type: none;
	line-height: 1.1;
}

#menu .filtrosNav a{
	text-decoration: none;
	color: #6E6292;
	font-weight: 500;
}

#menu #flechaMenu {
	transform: rotateX(0deg);
	transition: all 500ms ease-in-out;
}

#menu #flechaMenu.active {
	transform: rotateX(180deg);
	transition: all 500ms ease-in-out;
}


@media all and (min-width: 576px) {
	#menu {
		width: 260px;
		display: grid;
		grid-template-rows: auto 15% 50%;
		background-color: #201B30;
		transform: translate(260px);
	}

	#menu.active {
	transform: translate(0px);
	}

	#menu .buttonNav h4{
		font-size: 1.3rem;
	}

	#menu .buttonNav i{
		padding-top: .4em;
	}

	#menu .menuNav ul li{
		font-size: 1.2rem;
	}

	#menu .filtrosNav{
		background-color: #2C2743;
	}
}

@media all and (min-width: 992px) {
	#menu {
		width: 390px;
		display: grid;
		grid-template-rows: auto 10% auto;
		background-color: #201B30;
		transform: translate(390px);
	}

	#menu .buttonNav h4{
		font-size: 1.5rem;
	}
}
		#menu .menuNav ul li{
		font-size: 1.2rem;
	}

	#menu .buttonNav {
		padding: .4em 1em .2em;
	}

	.bgVioletOscuroEspecial{
		background-color: #1D172D;
	}

	#menu .buttonNav i{
		padding-top: .4em;
	}

	#menu .menuNav ul li:hover{
		background-color: #2b2541;
	}

	#menu .buttonNav:hover {
		background-color: #2b2541;
	}

	#menu .buttonNav h4:hover {
		font-size: 1.6rem;
		color: #F76E77;
	}

	#menu .buttonNav i:hover {
		font-size: 2rem;
		color: #F76E77;
	}



/*Portfolio Index y Ilustraciones*/

#portfolio {
	margin-top: 120px;
	width: 100%;
}

.portfolioItem {
    display: block;
    position: relative;
    overflow: hidden;
    width: 98%;
    padding-top: 55%;
    margin: 0.2em auto;
    border: 1px solid #6E6292;
}

#ilustraciones .portfolioItem {
    width: 98%;
    padding-top: 98%;
    margin: 0.2em auto;
    border: 1px solid #831B21;
}

.portfolioItem .caption {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
 }

.portfolioItem .captionContent {
    width: 100%;
    color: #D8CBFF;
    background-color: #161221BF;
    padding: 0.2em 0.5em;
    margin: auto 0em 0.5em;
}

.portfolioItem .captionContent p{
	line-height: 1.1;
}

.portfolioItem img {
	position: absolute;
	top: 0;
}

.portfolioItem iframe{
	display: flex;
    height: 100%;
    width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
}

.portfolioItem span{
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
 }


@media all and (min-width: 576px) {
	
}

@media all and (min-width: 992px) {
	
	#portfolio {
		width: 100%;
		margin-right: 0;
		transition: all 500ms ease-in-out;
	}

	#portfolioFlex {
	}

	#portfolio .portfolioThumbs{
	}

	#portfolio.active {
		width: 75%;
		margin-right: 390px;
		transition: all 500ms ease-in-out;
	}
}


/*Seccion Footer*/
#footer {
	font-size: 0.8rem;
	margin: 0;
	padding: 0;
	padding-right: 0vw;
	text-align: center;
}

#footer .redesFooter ul {
	width: 90%;
}

#footer .row {
	margin: auto 0;
}

#footer .redesFooter ul li {
	list-style-position: inside;
	list-style-type: none;
}

@media all and (min-width: 576px) {
	#footer {
	padding-right: 0vw;
	transition: all 500ms ease-in-out;
	}

	#footer.active {
	padding-right: 33vw;
	transition: all 500ms ease-in-out;
	}
}

@media all and (min-width: 992px) {
	#footer {
	padding-right: 0vw;
	transition: all 500ms ease-in-out;
	}

	#footer.active {
	padding-right: 25vw;
	transition: all 500ms ease-in-out;
	}
}

/*seccion Quote*/
.quotesBox{
	height: 80%;
	padding: 0 0.5em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	flex-wrap: wrap;
}

.quotesBox .quotes{
  	font-size: 1.2rem;
	text-align: center;
	width: 65%;
	margin: auto;
}

.quotesBox .firma{
	text-align: right;
}

.quotesBox .notaPie{
	display: block;
	margin-right: 1px;
	font-size: 0.8rem;
	text-align: right;
	width: 100%;
}

/*Pagina Animacion*/
#animacion {
	width: 100vW;
	margin-top: 120px;
}

#animacion .headAnimacion{
	background-image: url("../media/headAnim.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 250px; 
}
#animacion .iframeCap{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#animacion .iframeCap iframe{
	width: 352px;
	height: 198px;
}

#animacion h1{
	border-bottom: solid 2px;
	letter-spacing: 0.2em;
	height: 20%;
}

#animacion h2{
	border-bottom: solid 2px;
	font-size: 1.1rem;
	letter-spacing: 0.1em;
}

#animacion h3{
	border-bottom: solid 2px;
	font-size: 1.2rem;
	font-weight: 700;
	padding-left: 1em;
	box-sizing: border-box;
}

#animacion .listaCaps{
	width: 100vw;
	box-sizing: border-box;
	padding: 1em 0.5em;
}

#animacion .listaCaps ul{
	list-style-position: inside;
	list-style-type: none;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;
	overflow: hidden;
}

#animacion .listaCaps ul li{
	min-width: 75px;
	font-size: .8rem;
	font-weight: 300;
	margin: 0 0.2em;
}

.sinopsisAnim{
	width: 100%;
	padding: 0.5em 1em;
	line-height: 1.5;
	box-sizing: border-box;
}

.sinopsisAnim.centrado p{
	text-align: center;
	width: 60%;
	margin: auto;
}

#cortos .animaTitleBox{
	height: 150px;
	width: 100%; 
	background-image: url("../media/headAnim.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

#series .animaTitleBox{
	height: 150px;
	width: 100%; 
	background-image: url("../media/headAnim.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

#musicales .animaTitleBox{
	height: 150px;
	width: 100%; 
	background-image: url("../media/headAnim.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

#infantiles .animaTitleBox{
	height: 150px;
	width: 100%; 
	background-image: url("../media/headAnim.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

#institucionales .animaTitleBox{
	height: 150px;
	width: 100%; 
	background-image: url("../media/headAnim.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.tablaAnim{
	display: none;
}

@media all and (min-width: 576px) {
	#animacion {
		width: 100vw;
		transition: width 500ms ease-in-out;
	}

	#animacion .iframeCap iframe{
		width: 560px;
		height: 315px;
	}

	#animacion.active {
		width: 72vw;
		transition: width 500ms ease-in-out;
	}
}

@media all and (min-width: 992px) {
	#animacion {
		width: 100vw;
		transition: width 500ms ease-in-out;
	}

	#animacion.active {
		width: 74.8vw;
		transition: width 500ms ease-in-out;
	}

	#animacion .iframeCap iframe{
		width: 720px;
		height: 405px;
	}
	
	.tablaPosicion {
		padding: 2em 0;
		width: 100vw;
		display:flex;
		justify-content: center;
	}

	.tablaAnim{
		width: 80%;
		font-size:	0.8rem;
		font-weight: 300;
		box-sizing: border-box;
		display: grid;
		grid-template-rows: 30px 1fr;	
	}

	.titleTabla{
		width: 100%;
		font-weight: 700;
		display: grid;
		grid-template-columns: 20% 20% 10% 50%; 
		align-items: center;
	 }

	.titleTabla p {
	 	border: solid 1px #0F0F0F;
	 	padding: 0.2em 0.5em;
	 	box-sizing: border-box;
	}

	.contenidoTabla {
		display: grid;
		grid-template-columns: 20% 20% 10% 50%; 
		grid-template-rows: repeat(5, 0fr);
		align-items: stretch;
	}

	.contenidoTabla p {
		border: solid 1px #0F0F0F;
		padding: 3em 0.5em;
		box-sizing: border-box;
	}

	.contenidoTabla  ul {
		border: solid 1px #0F0F0F;
	 	padding: 0.2em 0;
	 	box-sizing: border-box;
	}

	.contenidoTabla ul li{
		list-style-position: inside;
		list-style-type: none;
		background-color: #202020;
		margin: 0.2em 0; 
		padding: 0 0.5em;
	} 
}

/*Fin Seccion Animacion*/


/*Seccion Textos*/
#textos{
	width: 100vw;
	margin-top: 120px;
}

#textos .headTextos{
	background-image: url("../media/headTextos.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 350px;
}

#textos .headTextos .quotesBox{
	padding: 0 0.5em;
	height: 50%;
}


#textos .headTextos .quotesBox .quotes{
	font-size: 1.2rem;
	text-align: center;
	width: 90%;
}

#textos h1{
	border-bottom: solid 2px;
	letter-spacing: 0.2em;
}

#textos h2{
	border-bottom: solid 2px;
	font-size: 1rem;
	letter-spacing: 0.1em;
}

#textos h3{
	padding-left: .4em;
	border-bottom: solid 2px;
	font-size: 1.5rem;
	font-weight: 700;
	box-sizing: border-box;
}

#textos .textosFiltosBox{
	font-size:  1.2rem;
	padding: 0.1em 0 0.3em 0;
	text-align: center;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#textos .textosFiltosBox li{
	margin: 0 1em;
	line-height: 1.2;
	font-size: 1.1rem;
	list-style-type: none;
}

#textos .textosFiltosBox nav a{
	text-decoration: none;
	color: #FCE9E9;
}

#textos .textosFiltosBox span{
	font-family: 'Kalam', cursive;
	font-weight: 300;
}

#textos .textosFlex {
 	width: 100%;
 	box-sizing: border-box;
 	display: flex;
 	justify-content: center;
 	flex-wrap: wrap;
}

#textos .prosaBox {
	width: 100%;
	margin: 0.2em;
	border: 1px solid #831B21;
	box-sizing: border-box;
}

#textos .prosaBox p{
 	line-height: 1.2;
 	padding: 0.4em 15px;
 	padding-top: 1em;
}

#textos .liricaBox {
	width: 100%;
	margin: 0.2em;
	border: 1px solid #831B21;
	box-sizing: border-box;
}

#textos .liricaBox p{
 	line-height: 1.2;
 	padding: 1em 1.5em;
}

@media all and (min-width: 576px) {
	#textos {
		width: 100%;
		transition: width 500ms ease-in-out;
	}

	#textos.active {
		width: 75.4%;
		transition: width 500ms ease-in-out;
	}

	#textos .textosFlex {
	 	justify-content: space-around;
	 	padding: 0 0.5em;
	}

	#textos .prosaBox {
		width: 45%;
		margin: .5em;
	}

	#textos .liricaBox {
		width: 45%;
		margin: .5em;
	}
}

@media all and (min-width: 992px) {
	#textos {
		width: 100%;
		transition: width 500ms ease-in-out;
	}

	#textos.active {
		width: 75.4%;
		transition: width 500ms ease-in-out;
	}

	#textos h3{
	padding-left: 1em;
	}

	#textos .textosFlex {
	 	justify-content: space-around;
	}
	
	#textos .prosaBox {
		width: 32%;
		margin: .4em;
	}

	#textos .liricaBox {
		width: 32%;
		margin: .4em;
	}

}
/*Fin Seccion Textos*/


/*Seccion Ilustracion
#ilustracion

@media all and (min-width: 576px) {

}

@media all and (min-width: 992px) {

}
Fin Seccion Ilustracion*/


/*Seccion Varios*/
#variedad {
	width: 100%;
	margin-bottom: 120px;
}

@media all and (min-width: 576px) {

}

@media all and (min-width: 992px) {
	#variedad {
		width: 100vw;
		transition: width 500ms ease-in-out;
	}

	#variedad.active {
		width: 74.8vw;
		transition: width 500ms ease-in-out;
	}
}
/*Fin Seccion Varios*/


/*seccionContacto*/
#personal {
	width: 100%;
}

#acerca.container-fluid {
	min-height: 100vh;
	box-sizing: border-box;
}

#acerca h3, #contacto h3 {
	height: min-content;
	font-size: 1rem;
	border-bottom: solid 2px;
	letter-spacing: 0.15em;
	padding: .5em .5em;
}

#acerca .bloqueAcerca {
	padding-top: 120px;
	min-height: 100vh;
}

#acerca .parrafoAcerca {
	width: 100%;
	display: inline-block;
}

#contacto {
	width: 100%;
	overflow: hidden;
	font-size: 1.1rem;
	box-sizing: border-box;
}

/*
#contacto form input, #contacto form select, #contacto form label, #contacto form textarea{
	box-sizing: border-box;
	color: #831B21;
}

#contacto textarea{
	max-width: 92%;
}*/

@media all and (min-width: 576px) {
	#personal {
		width: 100%;
	}

	#acerca {
		font-size: 1rem;
	}

	#acerca .parrafoAcerca {
		width: 75%;
	}

	#acerca .bloqueAcerca {
		background-image: url("../media/pinacaCircularDer.png");
		background-repeat: no-repeat;
		background-position: right bottom;
		background-size: auto 80%;
	}

	#acerca h3, #contacto h3 {
		font-size: 1.1rem;
		letter-spacing: 0.2em;
		padding: .5em 1em;
	}
}

@media all and (min-width: 992px) {
	#personal {
		width: 100%;
		transition: width 500ms ease-in-out;
	}

	#personal.active {
		width: 75.4%;
		transition: width 500ms ease-in-out;
	}

	#acerca {
		font-size: 1.1rem;
	}

	#acerca .bloqueAcerca {
		background-image: url("../media/pinacaCircularDer.png");
		background-repeat: no-repeat;
		background-position: right bottom;
		background-size: auto 90%;
	}

	#acerca .parrafoAcerca {
		width: 75%;
		padding: 0 1em;
	}

	#acerca h3, #contacto h3 {
		font-size: 1.1rem;
		letter-spacing: 0.2em;
		padding: .5em 1em;
	}

}
/*Fin seccionContacto*/

/**
.whatsappVolador{
	display: inline-block;
	float: right;
	position: fixed;
	bottom: 10px;
	right: 50vw;
	z-index: 100;
}
**/


/*Botonera de redes sociales que busqué en w3schools.com*/
.fa {
  padding: 10px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  color: white;
}

.fa-linkedin {
  color: white;
}

.fa-instagram {
  color: white;
}

.fa-youtube {
  color: white;
}

.fa-vimeo {
  color: white;
}
