.violetPorfolio {
    background-color: darken($violet-lgt-1, 36%);
}

#portfolio {
    width: $ancho;
    margin-top: $alto-header;
    background-color: darken($violet-lgt-1, 36%);
    .row {
            justify-content: center !important;
        }
    .portfolioItem {
        @include portfolioItem;
         &.hidden { 
            display: block;
        }
    }   
    @include media(lg) {
        width: $ancho;
        margin-right: $ancho-menu * 0;
        &.container-fluid {  
            padding-right: 15px !important;
            padding-left: 15px !important;
            margin-left: 0px !important;
            transition-delay: 0ms;
        }
        .row {
            justify-content: center !important;
            transition-delay: 0ms;
        }
        .portfolioItem {
            &.hidden { 
                display: none;
            }            
        }
        &.active {
            width: calc(#{$ancho} - ( calc(#{$ancho-menu} * 1.42 ) ) );
            margin-right: $ancho-menu * 1.42;
            transition-delay: 500ms;
            &.container-fluid {
                padding-right: 5px !important;
                padding-left: 0 !important;
                margin-left: 10px !important;
                transition-delay: 500ms;
            }
            .row {
                justify-content: flex-start !important;
                transition-delay: 500ms;
            }
            .portfolioItem.hidden { 
                display: block;
                transition-delay: 500ms;
            }
            .col-lg-4 {
                flex: 0 0 50%;
                max-width: 50%;
                transition-delay: 500ms;
            }            
        }
    }
    @include media(xl) {
        &.active {
            width: calc(#{$ancho} - ( calc(#{$ancho-menu} * 1.6 ) ) );
            margin-right: $ancho-menu * 1.6;
            &.container-fluid {
                padding-right: 5px !important;
                padding-left: 0 !important;
                margin-left: 10px !important;
                transition-delay: 500ms;
            }
            .col-xl-3 {
                flex: 0 0 33%;
                max-width: 33%;
                transition-delay: 500ms;
            }
        }
        img {
            transition: all 500ms ease-in-out;
        }
        &:hover img{
            transform: scale(1.1);
        }
    }
}

#ilustraciones {
    width: $ancho;
    margin-top: $alto-header;
    background-color: darken($violet-lgt-1, 36%);
    .row {
        justify-content: center !important;
    }
    .portfolioItem {
        @include portfolioItem;
        width: 98%;
        padding-top: 98%;
        margin: 0.2em auto;        
        &.hidden { 
            display: block;
        }
    }
    h4 {
        color: $text-especial;  

    }
    @include media(lg) {
        width: $ancho;
        margin-right: $ancho-menu * 0;
        transition: all 500ms ease-in-out;
        .portfolioItem {
            &.hidden { 
                display: none;
            }
        }
        &.active {
            width: calc(#{$ancho} - ( calc(#{$ancho-menu} * 1.4 ) ) );
            margin-right: $ancho-menu * 1.4;
            transition: all 500ms ease-in-out;
            .portfolioItem.hidden { 
                display: block;
            }
        }
    }
    @include media(xl) {
        width: $ancho;
        margin-right: $ancho-menu * 0;
        transition: all 500ms ease-in-out;
        .portfolioItem {
            &.hidden { 
                display: none;
            }
            .caption {
                transform: translate(-100%);
                transition: all 250ms ease-in-out;
                .captionContent p {
                    opacity: 0;
                }
                .captionContent h4 {
                    opacity: 0;
                }
                .captionContent .raya{
                    width: 0%;
                }    
                &:hover .captionContent p{
                    opacity: 1;
                    transition: all 250ms ease-in-out;                    
                }
                &:hover .captionContent h4{
                    opacity: 1;
                    transition: all 250ms ease-in-out;                  
                }
                &:hover .captionContent .raya{
                    width: 60%;
                    transition: all 250ms ease-in-out; 
                }                   
            }
            &:hover {
                .caption {                   
                    transform: translate(0);                        
                    transition: all 250ms ease-in-out;                   
                }
            }
            img {
                transition: all 500ms ease-in-out;
            }
            &:hover img{
                transform: scale(1.1);
            }
        }
        &.active {
            width: calc(#{$ancho} - ( calc(#{$ancho-menu} * 1.6 ) ) );
            margin-right: $ancho-menu * 1.6;
            transition: all 500ms ease-in-out;
            .portfolioItem.hidden { 
                display: block;
            }
        }
    }
}

#modal-Portfolio {    
    .close {
        position: absolute;
        right: 0; 
        top: -35px;
        z-index: 999;
        font-size: 3rem;
        font-weight: normal;
        color: $text-especial;
        opacity: 2;
        text-shadow: 0 1px 0 darken( $third-color, 10% );           
    }
}
    
